@import '../../styles/constants.scss';

.container {
	display: flex;
	height: 40vh;
	justify-content: center;
	align-items: center;

	label {
		font-weight: bold;
		color: white;
		font-size: $font-size-base * 6;
		text-align: center;
	}
}