@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.container {
  width: 100%;
  margin: 0 auto;

  @include for-phone-only {
    margin-top: 0;
    max-width: 560px;
  }

  @include for-tablet-portrait-up {
    max-width: 700px;
    margin-top: 1em;
  }

  @include for-tablet-landscape-up {
    max-width: 1000px;
    margin-top: 2em;
  }

  @include for-desktop-up {
    max-width: 1199px;
    margin-top: 3em;
  }

  @include for-big-desktop-up {
    max-width: 1600px;
    margin-top: 4em;
  }
}

.layout {
  display: flex;
  box-sizing: border-box;

  @include for-phone-only {
    flex-direction: column;
  }

  @include for-tablet-portrait-up {
    flex-direction: row;
  }

  @include for-tablet-landscape-up {
    flex-direction: row;
  }

  @include for-desktop-up {
    flex-direction: row;
  }

  @include for-big-desktop-up {
    flex-direction: row;
  }
}

.sidebar {
  @include for-tablet-portrait-up {
    width: 230px;
  }

  @include for-tablet-landscape-up {
    width: 250px;
  }

  @include for-desktop-up {
    width: 350px;
  }

  @include for-big-desktop-up {
    width: 350px;
  }
}

.main {
  flex: 1;

  @include for-phone-only {
    margin-top: 1em;
  }

  @include for-tablet-portrait-up {
    margin-left: 20px;
  }

  @include for-tablet-landscape-up {
    margin-left: 30px;
  }

  @include for-desktop-up {
    margin-left: 50px;
  }

  @include for-big-desktop-up {
    margin-left: 60px;
  }
}