@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.button {
	width: 100%;
	background-color: $secondary-color;
	border: 0;
	font-weight: bold;
	color: #3a4b6d;
	padding: 1em 0;
	border-radius: 8px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	$padding-base: 1em;
	@include for-tablet-portrait-up {
    padding: $padding-base 0;
	}

	@include for-tablet-landscape-up {
		padding: ($padding-base / 2) 0;
	}

	@include for-desktop-up {
		padding: $padding-base 0;
	}

	@include for-big-desktop-up {
		padding: $padding-base 0;
	}

	&:hover {
		opacity: 0.9;
	}
}

.bookNow {
	@include for-phone-only {
		font-size: $font-size-base * 3;
	}

	@include for-tablet-portrait-up {
    font-size: $font-size-base * 3;
	}

	@include for-tablet-landscape-up {
		font-size: $font-size-base * 2;
	}

	@include for-desktop-up {
		font-size: $font-size-base * 2;
	}

	@include for-big-desktop-up {
		font-size: $font-size-base * 3;
	}
}
.fee {
	@include for-phone-only {
		font-size: $font-size-base * 4;
	}

	@include for-tablet-portrait-up {
    font-size: $font-size-base * 4;
	}

	@include for-tablet-landscape-up {
		font-size: $font-size-base * 3;
	}

	@include for-desktop-up {
		font-size: $font-size-base * 3;
	}

	@include for-big-desktop-up {
		font-size: $font-size-base * 4;
	}
	
}