@import '../../styles/mixins.scss';
@import '../../styles/constants.scss';

.stars {
  color: $secondary-color;
  display: flex;

  li {
    font-size: $font-size-base * 3;
    @include for-tablet-portrait-up {
      font-size: $font-size-base * 2;
    }

    @include for-tablet-landscape-up {
      font-size: $font-size-base * 2;
    }
  }
}