@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';
@import './variables.scss';

.link {
	justify-content: space-between;
	align-items: center;
	background: $white-color;
	border: 0;
	display: flex;
	padding: $more-section-padding-top $more-section-padding;
}

.link .linkText {
	color: $primary-color;
	@include for-tablet-landscape-up {
    font-size: 1em;
	}

	@include for-desktop-up {
		font-size: 0.9em;
	}

	@include for-big-desktop-up {
		font-size: 1em;
	}
}

.capitalize {
	text-transform: capitalize;
}

.handle {
	margin-left: 10px;
}