@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';
@import './variables.scss';

.link {
	justify-content: space-between;
	align-items: center;
	background: $white-color;
	border: 0;
	display: flex;
	padding: $more-section-padding-top $more-section-padding;
}

.link .linkText {
	color: $primary-color;
	@include for-tablet-landscape-up {
    font-size: $font-size-base * 2;
	}

	@include for-desktop-up {
		font-size: ($font-size-base * 2) - 0.1em;
	}

	@include for-big-desktop-up {
		font-size: $font-size-base * 2;
	}
}

.capitalize {
	text-transform: capitalize;
}

.handle {
	margin-left: 10px;
	color: $primary-color;

	$animation-duration: 0.5s;
	$animation-fill-mode: forwards;

	animation-name: reverse-rotate-handle;
	animation-duration: $animation-duration;
	animation-fill-mode: $animation-fill-mode;

	&.expand {
		animation-name: rotate-handle;
		animation-duration: $animation-duration;
		animation-fill-mode: $animation-fill-mode;
	}
}

$rotate-angle: 90deg;

@keyframes reverse-rotate-handle {
	0% {
		transform: rotate($rotate-angle);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes rotate-handle {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate($rotate-angle);
	}
}