$base-padding: 8px;
$info-padding: 2 * $base-padding;
$info-padding-top: $info-padding + 5px;
$info-padding-bottom: 0;

$more-section-padding: 2 * $base-padding;
$more-section-padding-top: $base-padding;
$more-section-padding-bottom: $base-padding;

$summary-padding: 2 * $base-padding;
$summary-padding-bottom: 3 * $base-padding;

$card-offset: 2em;
